.profile-image {
  padding-right: 10px;
}
.content {
  p {
    margin: 0;
  }
  a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
  .tweet-text {
    margin-top: 20px;
    a {
      font-weight: normal;
      color: #689cc8
    }
  }
}