.twitter-list {
  .tweet-hash-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    button {
      width: auto;
      font-size: 1em;
      font-weight: normal;
      margin-right: 10px;
      display: inline-block;
      padding: 5px 20px;
      cursor: pointer;
      background: #e7f3fa;
      border-radius: 20px;
      color: #689cc8
    }
  }
}